body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-title {
  font-style: italic;
}

#nav-button {
  color: white;
}

#container1 {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  backdrop-filter: blur(14px) brightness(80%);
}

.card-title {
  text-decoration: underline;
}

#headshot {
  max-width: 20em;
  margin: auto;
  height: auto;
  display: block;
}

.box img {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  float: left;
  border: solid grey;
  border-width: 2px;
  padding: 2px;
}